:root{
    --themecolor: #22ffaa;
    --clr-bg: #0a0e1a;
}

*{
    box-sizing: border-box;
    transition: 0.3s ease-out;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:"Inter_24pt",system-ui,sans-serif !important;
    background:var(--clr-bg);
    color:var(--clr-text);
    line-height:1.6;
    margin: 0;
}

/* navigation */
.nav{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    /* height:80px; */
    backdrop-filter:blur(12px);
    padding:0 2rem;
    z-index:12;
}
.nav .navcon{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: row;
}