.navbar{
    position:fixed;
    top:0;
    left:0;
    height:80px;
    backdrop-filter:blur(12px);
    padding:0 2rem;
    z-index:12;
}
.navbar .navcontainer{
    display:flex;
    align-items:center;
    justify-content:space-between;
}